<md-toolbar layout="row" layout-align="center center">

  <md-button >Best trade</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button ui-sref="emitterlist" class="md-raised">Home</md-button>
    <md-button ui-sref="about" class="md-raised">About</md-button>
    <md-button class="md-raised">Contact</md-button>
  </section>
</md-toolbar>
