<div class="techs" layout-align="center">

  <div layout="row" flex="70">
    <div class="techs" layout-align="center">
      <md-card ng-repeat="shEmitter in shCtr.ShData">
        <emitter-comp
        id-emitter="shEmitter.id"
        logo-emitter="shEmitter.logo"
        name-emitter="shEmitter.name"
        description-emitter="shEmitter.description"
        price-emitter="shEmitter.price"
        ></emitter-comp>
      </md-card>
    </div>
  </div>

</div>


