<md-card-content>
  <img class="pull-right"
       ng-src="assets/images/{{ EmitCtr.logoEmitter }}"
       alt="{{ EmitCtr.nameEmitter }}">
  <h3 class="md-title"> {{ EmitCtr.nameEmitter }}</h3>
  <p>{{ EmitCtr.descriptionEmitter }}</p>
  <p>Current price: {{ EmitCtr.priceEmitter }}$</p>
  <div ng-show="EmitCtr.toggle">
    <sha-graph initial-data="{{ EmitCtr.graphData }}"></sha-graph>
  </div>
</md-card-content>

<md-button ng-click="EmitCtr.showGraph(EmitCtr.idEmitter)">Graph</md-button>

